.Rproj.user
.Rhistory
.RData
.Ruserdata
Aves2.csv
bio-oracle
SDM_P_urile
A_occidentalis.csv
A_torda.csv
B_albeola.csv
C_diomedea.csv
F_glacialis.csv
G_immer.csv
G_stellata.csv
L_argentatus.csv
L_glaucescens.csv
L_marinus.csv
L_philadelphia.csv
M_bassanus.csv
M_perspicillata.csv
M_serrator.csv
O_oceanicus.csv
P_fulicarius.csv
P_gravis.csv
P_griseus.csv
P_urile.csv
P_urile10.csv
U_aalge.csv
avesWallace.csv
